<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Routing and Navigation
  </h1>
</div>

<nav>
  <a routerLink="/departments" >Department</a>
  <a routerLink="/employees">Employees</a>
</nav>

<router-outlet></router-outlet>
<!--Routed View Go Here-->